#constructionrules{
    -fx-background-image: url(../../../../Ressources/autres/regles_construction.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
#imageBle{
    -fx-background-image: url(../../../../Ressources/ressources/ressource_ble.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
#imageBois{
    -fx-background-image: url(../../../../Ressources/ressources/ressource_bois.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
#imageLaine{
    -fx-background-image: url(../../../../Ressources/ressources/ressource_laine.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
#imageArgile{
    -fx-background-image: url(../../../../Ressources/ressources/ressource_argile.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
#imageCaillou{
    -fx-background-image: url(../../../../Ressources/ressources/ressource_mineraie.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#imageVictoire{
    -fx-background-image: url(../../../../Ressources/autres/points_victoire.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#imageRoute{
    -fx-background-image: url(../../../../Ressources/autres/routes.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#imageSoldat{
    -fx-background-image: url(../../../../Ressources/autres/soldats.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#imageCarte{
    -fx-background-image: url(../../../../Ressources/autres/carte_icon.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
